PRIVATE_KEY=
FULL_LENDING_USER_A_ADDRESS=
FULL_LENDING_USER_A_PRIVATE_KEY=
FULL_LENDING_USER_B_ADDRESS=
FULL_LENDING_USER_B_PRIVATE_KEY=
FULL_LENDING_BUYBACK=
TOKEN_ADDRESS=
ROUTER_ADDRESS=
UNISWAP_V3_FACTORY=
POOL_FEE=
VESTING_OWNER_ADDRESS=
VESTING_MANAGER_ADDRESS=
VESTING_BENEFICIARY_ADDRESS=
VESTING_START_TIMESTAMP=
VESTING_DURATION_SECONDS=
VESTING_CLIFF_SECONDS=
VESTING_AMOUNT=
ARBITRUM_SEPOLIA_RPC_URL=
ARBISCAN_API_KEY=
K613_ADDRESS=
XK613_ADDRESS=
STAKING_ADDRESS=
REWARDS_DISTRIBUTOR_ADDRESS=
TREASURY_ADDRESS=
AAVE_POOL_ADDRESS=
SUPPLY_TOKEN_ADDRESS=
BORROW_TOKEN_ADDRESS=
ANALYSIS_PREFER_CHAIN=
ANALYSIS_TOKEN_DECIMALS=

DEPLOYER_ADDRESS=
COLLECTOR_PROXY_ADDRESS=
K613_TREASURY_ADDRESS=
AMOUNT=
MIN_K613_OUT=