PRIVATE_KEY=
ARBITRUM_SEPOLIA_RPC_URL=
ARBISCAN_API_KEY=
K613_ADDRESS=
XK613_ADDRESS=
STAKING_ADDRESS=
REWARDS_DISTRIBUTOR_ADDRESS=
TREASURY_ADDRESS=
DEPLOYER_ADDRESS=
COLLECTOR_PROXY_ADDRESS=
K613_TREASURY_ADDRESS=   
TOKEN_ADDRESS=           
AMOUNT= 
K613_TREASURY_ADDRESS=
TOKEN_ADDRESS=          
ROUTER_ADDRESS=
AMOUNT=                   
MIN_K613_OUT=               
SWAP_CALLDATA_HEX=
