# Compiler files
cache/
out/


broadcast/


# Docs
docs/

# Dotenv file
.env
.cursor
.broadcast
script/COMMANDS.md
script/EconomicAnalysis.s.sol
script/EconomicSimulator.s.sol
script/FullEconomicCycle.s.sol
script/QuickEconomicsCalc.s.sol
script/RUN_EXAMPLES.md
script/SIMULATION_README.md